# Composer
/vendor/
composer.lock

# Environment
.env
.env.*

# IDE / Editor
.idea/
.vscode/

# Node
/node_modules/

# Laravel
/bootstrap/cache/
/storage/
/public/storage

# PHPUnit
/tests/_output/
/phpunit.xml

# OS
.DS_Store
Thumbs.db

# Logs / temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# Local development
.nbproject/
